$font-family: "Proxima Nova", sans-serif;
$second-family: "Merriweather", sans-serif;
$third-family: "Montserrat", sans-serif;

$light-grey: #f0efed;
$light-gold: #eeb256;
$brown: #90604c;
$dark-brown: #311e19;

